In [1]:
!pip install minio delta-spark==2.2.0

Requirement already satisfied: minio in /opt/conda/lib/python3.8/site-packages (7.1.14)
Requirement already satisfied: delta-spark==2.2.0 in /opt/conda/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: pyspark<3.4.0,>=3.3.0 in /usr/local/spark-3.3.2-bin-hadoop3/python (from delta-spark==2.2.0) (3.3.2)
Requirement already satisfied: importlib-metadata>=1.0.0 in /opt/conda/lib/python3.8/site-packages (from delta-spark==2.2.0) (4.11.4)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.8/site-packages (from minio) (1.26.11)
Requirement already satisfied: certifi in /opt/conda/lib/python3.8/site-packages (from minio) (2022.9.24)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.8/site-packages (from importlib-metadata>=1.0.0->delta-spark==2.2.0) (3.9.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/conda/lib/python3.8/site-packages (from pyspark<3.4.0,>=3.3.0->delta-spark==2.2.0) (0.10.9.5)

In [2]:
from minio import Minio
import io
import logging
import sys
import traceback
from datetime import datetime

import urllib3

from minio import Minio
from pyspark import SparkContext
from pyspark.ml.regression import LinearRegression
from pyspark.sql import SparkSession
from pyspark.ml.feature import VectorAssembler
from pyspark.sql.functions import unix_timestamp
import minio
from datetime import datetime
from pyspark import SparkContext
from pyspark.sql import SparkSession, SQLContext
from pyspark.sql.functions import col, when, avg, round

In [3]:
spark = (SparkSession.builder.appName("pyspark-rdd-demo-{}".format(datetime.today()))
        .master("spark://spark-master:7077")      
        .getOrCreate())

sqlContext = SQLContext(spark)
spark.sparkContext.getConf().getAll()

/usr/local/spark/python/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.hadoop.fs.s3a.connection.ssl.enabled', 'false'),
 ('spark.repl.local.jars',
  'file:///usr/local/spark-3.3.2-bin-hadoop3/jars/delta-core_2.12-2.2.0.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/hadoop-aws-3.3.2.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/delta-storage-2.2.0.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-1.12.367.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/s3-2.18.41.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-bundle-1.11.1026.jar'),
 ('spark.hadoop.fs.s3a.access.key', 'minio'),
 ('spark.hadoop.fs.s3a.path.style.access', 'true'),
 ('spark.app.submitTime', '1684423994230'),
 ('spark.app.startTime', '1684423994339'),
 ('spark.driver.port', '33037'),
 ('spark.executor.id', 'driver'),
 ('spark.app.initial.jar.urls',
  'spark://cdfd5ccbe8fa:33037/jars/aws-java-sdk-bundle-1.11.1026.jar,spark://cdfd5ccbe8fa:33037/jars/delta-storage-2.2.0.jar,spark://cdfd5ccbe8fa:33037/jars/aws-java-sdk-1.12.367.jar,spark://cdfd5ccbe8fa:33037/jars/delta-core_2.12-2.2.0.jar,spark://cdfd5ccbe8fa:33037/jars/hadoop-aws-3.3.2.jar,spark://cdfd5ccbe8fa:33037/jars/s3-2.18.41.jar'),
 ('spark.app.name', 'pyspark-rdd-demo-2023-05-18 15:33:12.677954'),
 ('spark.hadoop.fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem'),
 ('spark.sql.extensions', 'io.delta.sql.DeltaSparkSessionExtension'),
 ('spark.driver.host', 'cdfd5ccbe8fa'),
 ('spark.rdd.compress', 'True'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.master', 'spark://spark-master:7077'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.jars',
  'file:///usr/local/spark-3.3.2-bin-hadoop3/jars/delta-core_2.12-2.2.0.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/hadoop-aws-3.3.2.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/delta-storage-2.2.0.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-1.12.367.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/s3-2.18.41.jar,file:///usr/local/spark-3.3.2-bin-hadoop3/jars/aws-java-sdk-bundle-1.11.1026.jar'),
 ('spark.submit.pyFiles', ''),
 ('spark.submit.deployMode', 'client'),
 ('spark.hadoop.fs.s3a.endpoint', 'http://minio:9000'),
 ('spark.hadoop.fs.s3a.secret.key', 'minio123'),
 ('spark.app.id', 'app-20230518153314-0001'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.sql.catalog.spark_catalog',
  'org.apache.spark.sql.delta.catalog.DeltaCatalog')]

In [4]:
df_orders = spark.read.csv("s3a://donnes-capteurs/donnes_capteurs_18-05-23.csv", header=True)

In [5]:
df_orders.limit(50).toPandas()

,timestamp,entrance_amount,exit_amount,temperature,humidity,parking_entrance,parking_exit,parking_actual_vehicle
0,2023-05-18 11:26:00.310649,31,42,23.98284652365134,51.51693541992328,1,2,35
1,2023-05-18 11:26:00.310649,18,0,18.209799550886544,49.07229505441757,4,4,128
2,2023-05-18 11:26:00.310649,20,9,20.139125780144397,34.6917614239392,3,4,237
3,2023-05-18 11:26:00.310649,-1,5,20.615199100988107,73.84951449694239,4,2,323
4,2023-05-18 11:26:00.310649,48,9,19.868111347969936,42.461563762012574,1,4,404
5,2023-05-18 11:26:00.310649,14,43,20.698440630556295,45.29607354356363,4,0,495
6,2023-05-18 11:26:00.310649,34,6,8.41287877716837,48.77352823073833,2,4,402
7,2023-05-18 11:26:00.310649,30,19,16.86485939410305,64.01811403528342,3,2,326
8,2023-05-18 11:26:00.310649,49,26,29.67589000399653,64.50520530798846,4,4,151
9,2023-05-18 11:26:00.310649,None,11,12.368722843604708,43.95874352407406,1,4,342
10,2023-05-18 11:26:00.310649,25,42,22.91603303468822,45.981091803284016,4,1,467
11,2023-05-18 11:26:00.310649,4,34,30.510538224583414,42.864470600899864,1,0,68
12,2023-05-18 11:26:00.310649,30,1,16.705921225632338,58.61929307331988,1,1,367
13,2023-05-18 11:26:00.310649,38,29,27.938101458952993,29.72611483825173,2,0,361
14,2023-05-18 11:26:00.310649,46,30,17.685283369520093,38.81251669269638,4,2,347
15,2023-05-18 11:26:00.310649,43,40,17.332027907725923,54.32723210769547,4,0,302
16,2023-05-18 11:26:00.310649,40,4,19.757211070574286,59.518863857707345,1,0,347
17,2023-05-18 11:26:00.310649,28,1,23.731275144739257,39.40326634078433,1,2,440
18,2023-05-18 11:26:00.310649,49,20,25.312629644955713,40.99639489198615,4,2,394
19,2023-05-18 11:26:00.310649,15,36,20.427779094478847,45.216782651336445,2,3,439
20,2023-05-18 11:26:00.310649,46,38,20.658744409410478,49.25000779122153,1,2,171
21,2023-05-18 11:26:00.310649,14,18,19.610826451451743,45.19899098847237,4,1,223
22,2023-05-18 11:26:00.310649,6,35,22.159649998794094,57.413054692789764,4,0,199
23,2023-05-18 11:26:00.310649,32,18,19.622534616576175,31.95507528017694,4,3,292
24,2023-05-18 11:26:00.310649,16,12,21.14359933464101,44.75558290963821,4,1,252
25,2023-05-18 11:26:00.310649,None,43,24.90283796787752,39.20488291402884,3,3,261
26,2023-05-18 11:26:00.310649,33,43,17.868727032329353,50.95360730548531,1,3,380
27,2023-05-18 11:26:00.310649,15,6,21.16727127301395,53.2585205963484,4,2,370
28,2023-05-18 11:26:00.310649,31,27,24.791916040977696,65.93913718347459,3,1,467
29,2023-05-18 11:26:00.310649,27,23,16.98345494641679,43.135432654836876,4,4,139
30,2023-05-18 11:26:00.310649,31,42,12.684056888758064,40.18900188224798,4,3,244
31,2023-05-18 11:26:00.310649,None,21,16.64722827864686,51.47980873540087,1,4,411
32,2023-05-18 11:26:00.310649,45,22,20.098594591898795,49.58560707894203,4,0,304
33,2023-05-18 11:26:00.310649,10,34,23.156829124408116,50.60217066573156,4,4,184
34,2023-05-18 11:26:00.310649,8,33,22.983737696432293,49.85879177481885,2,2,225
35,2023-05-18 11:26:00.310649,30,45,24.735418482738822,58.26818199259384,4,0,450
36,2023-05-18 11:26:00.310649,16,1,17.444698222667924,49.613532253154034,1,2,237
37,2023-05-18 11:26:00.310649,33,1,19.928627262528437,53.67378125734199,4,0,204
38,2023-05-18 11:26:00.310649,30,7,21.413340435031518,55.83950279322735,4,0,240
39,2023-05-18 11:26:00.310649,34,43,22.329068432593687,56.74796093076359,1,0,399
40,2023-05-18 11:26:00.310649,23,21,11.540311025185153,39.912816208931794,4,2,300
41,2023-05-18 11:26:00.310649,22,26,22.153930820819163,30.292812844593723,3,1,377
42,2023-05-18 11:26:00.310649,36,0,17.91696197355697,56.01629911116728,2,3,327
43,2023-05-18 11:26:00.310649,5,1,15.823275206538643,39.535107467085155,4,4,477
44,2023-05-18 11:26:00.310649,47,28,24.22826782044681,40.09875360425511,4,2,250
45,2023-05-18 11:26:00.310649,36,31,18.611203123068975,45.69297715588812,2,0,178
46,2023-05-18 11:26:00.310649,2,35,19.733816330116667,46.826539776583,2,2,421
47,2023-05-18 11:26:00.310649,26,41,9.047232046506618,45.006942379442705,4,3,89
48,2023-05-18 11:26:00.310649,46,1,19.143469426737603,44.71413218544077,4,3,254
49,2023-05-18 11:26:00.310649,41,48,21.650534885772856,43.618681843818024,3,2,410

In [25]:
#traitement des données

# Transformer les valeurs nulles et négatives en 0 dans la colonne "entrance_amount"
df_orders = df_orders.withColumn("entrance_amount", when(col("entrance_amount").isNull() | (col("entrance_amount") < 0), 0).otherwise(col("entrance_amount")))

# Calculer la moyenne des valeurs dans la colonne "exit_amount"
exit_amount_avg = df_orders.select(avg(col("exit_amount")).cast("int")).first()[0]
exit_amount_avg = int(exit_amount_avg)

# Transformer les valeurs nulles ou négatives en moyenne des valeurs dans la colonne "exit_amount"
df_orders = df_orders.withColumn("exit_amount", when(col("exit_amount").isNull() | (col("exit_amount") < 0), exit_amount_avg).otherwise(col("exit_amount")))

# Transformer les valeurs nulles de la colonne parking_exit aux même valeurs de la colonne parking entrance
df_orders = df_orders.withColumn("parking_exit", when(col("parking_exit").isNull() | (col("parking_exit") == 0), col("parking_entrance")).otherwise(col("parking_exit")))

# Calculer la moyenne des valeurs dans la colonne "parking_actual_vehicle"
parking_actual_vehicle_avg = df_orders.select(avg(col("parking_actual_vehicle")).cast("int")).first()[0]
parking_actual_vehicle_avg = int(parking_actual_vehicle_avg)

# Transformer les valeurs négatives ou innexistantes en moyenne des valeurs dans la colonne "parking_actual_vehicle"
df_orders = df_orders.withColumn("parking_actual_vehicle", when(col("parking_actual_vehicle").isNull() | (col("parking_actual_vehicle") < 0), parking_actual_vehicle_avg).otherwise(col("parking_actual_vehicle")))

# Transformer les valeurs des colonnes de type string en int 
necessary_columns = ["entrance_amount", "exit_amount","parking_entrance", "parking_exit"]
for column in necessary_columns:
    df_orders = df_orders.withColumn(column, col(column).cast("int"))

# Transformer le type de la colonne parking_actual_vehicle en int
df_orders = df_orders.withColumn("parking_actual_vehicle", col("parking_actual_vehicle").cast("int"))
    
df_orders.printSchema()

root
 |-- timestamp: string (nullable = true)
 |-- entrance_amount: integer (nullable = true)
 |-- exit_amount: integer (nullable = true)
 |-- temperature: string (nullable = true)
 |-- humidity: string (nullable = true)
 |-- parking_entrance: integer (nullable = true)
 |-- parking_exit: integer (nullable = true)
 |-- parking_actual_vehicle: integer (nullable = true)

In [26]:
df_orders_final = df_orders.drop("timestamp", "temperature", "humidity")
df_orders_final.limit(50).toPandas()

,entrance_amount,exit_amount,parking_entrance,parking_exit,parking_actual_vehicle
0,31,42,1,2,35
1,18,23,4,4,128
2,20,9,3,4,237
3,0,5,4,2,323
4,48,9,1,4,404
5,14,43,4,4,495
6,34,6,2,4,402
7,30,19,3,2,326
8,49,26,4,4,151
9,0,11,1,4,342
10,25,42,4,1,467
11,4,34,1,1,68
12,30,1,1,1,367
13,38,29,2,2,361
14,46,30,4,2,347
15,43,40,4,4,302
16,40,4,1,1,347
17,28,1,1,2,440
18,49,20,4,2,394
19,15,36,2,3,439
20,46,38,1,2,171
21,14,18,4,1,223
22,6,35,4,4,199
23,32,18,4,3,292
24,16,12,4,1,252
25,0,43,3,3,261
26,33,43,1,3,380
27,15,6,4,2,370
28,31,27,3,1,467
29,27,23,4,4,139
30,31,42,4,3,244
31,0,21,1,4,411
32,45,22,4,4,304
33,10,34,4,4,184
34,8,33,2,2,225
35,30,45,4,4,450
36,16,1,1,2,237
37,33,1,4,4,204
38,30,7,4,4,240
39,34,43,1,1,399
40,23,21,4,2,300
41,22,26,3,1,377
42,36,23,2,3,327
43,5,1,4,4,477
44,47,28,4,2,250
45,36,31,2,2,178
46,2,35,2,2,421
47,26,41,4,3,89
48,46,1,4,3,254
49,41,48,3,2,410

In [27]:
spark.range(3000).write.format("delta").save("s3a://donnes-capteurs/testfile.txt", mode="overwrite")

In [28]:
sc = spark.sparkContext
fdd = sc.textFile("s3a://donnes-capteurs/testfile.txt")

In [73]:
def create_model(iter, features_cols, labelCol):
    # create LinearRegression estimator and set parameters
    lr = LinearRegression(maxIter=iter,
                          featuresCol=features_cols,
                          labelCol=labelCol)
    return lr


def set_train_and_validation_ds(data, seed):
    return data.randomSplit([0.7, 0.3], seed=seed)


def test_model(spark, model):
    # Methode pour tester le modèle avec un jeu de données test
    testData = spark.read.format("libsvm").load("s3a://donnes-capteurs/testfile.txt")
    predictions = model.transform(testData)
    predictions.show()


def save_model(model):
    # Methode pour sauvegarder le modèle vers un lieu spécifié
    #model.save("saved_model/model_test")
    model.write().overwrite().save("saved_model/model_test")

In [30]:
# Création de l'objet featureassembler
featureassembler = VectorAssembler(inputCols=necessary_columns, outputCol='necessary_columns')

In [31]:
# Transforme les colonnes necessaires en un vecteur
output = featureassembler.transform(df_orders_final)
output.show()

+---------------+-----------+----------------+------------+----------------------+-------------------+
|entrance_amount|exit_amount|parking_entrance|parking_exit|parking_actual_vehicle|  necessary_columns|
+---------------+-----------+----------------+------------+----------------------+-------------------+
|             31|         42|               1|           2|                    35|[31.0,42.0,1.0,2.0]|
|             18|         23|               4|           4|                   128|[18.0,23.0,4.0,4.0]|
|             20|          9|               3|           4|                   237| [20.0,9.0,3.0,4.0]|
|              0|          5|               4|           2|                   323|  [0.0,5.0,4.0,2.0]|
|             48|          9|               1|           4|                   404| [48.0,9.0,1.0,4.0]|
|             14|         43|               4|           4|                   495|[14.0,43.0,4.0,4.0]|
|             34|          6|               2|           4|                   402| [34.0,6.0,2.0,4.0]|
|             30|         19|               3|           2|                   326|[30.0,19.0,3.0,2.0]|
|             49|         26|               4|           4|                   151|[49.0,26.0,4.0,4.0]|
|              0|         11|               1|           4|                   342| [0.0,11.0,1.0,4.0]|
|             25|         42|               4|           1|                   467|[25.0,42.0,4.0,1.0]|
|              4|         34|               1|           1|                    68| [4.0,34.0,1.0,1.0]|
|             30|          1|               1|           1|                   367| [30.0,1.0,1.0,1.0]|
|             38|         29|               2|           2|                   361|[38.0,29.0,2.0,2.0]|
|             46|         30|               4|           2|                   347|[46.0,30.0,4.0,2.0]|
|             43|         40|               4|           4|                   302|[43.0,40.0,4.0,4.0]|
|             40|          4|               1|           1|                   347| [40.0,4.0,1.0,1.0]|
|             28|          1|               1|           2|                   440| [28.0,1.0,1.0,2.0]|
|             49|         20|               4|           2|                   394|[49.0,20.0,4.0,2.0]|
|             15|         36|               2|           3|                   439|[15.0,36.0,2.0,3.0]|
+---------------+-----------+----------------+------------+----------------------+-------------------+
only showing top 20 rows

In [32]:
# Extraction
final_data = output.select("necessary_columns", "parking_actual_vehicle")
final_data.show()

+-------------------+----------------------+
|  necessary_columns|parking_actual_vehicle|
+-------------------+----------------------+
|[31.0,42.0,1.0,2.0]|                    35|
|[18.0,23.0,4.0,4.0]|                   128|
| [20.0,9.0,3.0,4.0]|                   237|
|  [0.0,5.0,4.0,2.0]|                   323|
| [48.0,9.0,1.0,4.0]|                   404|
|[14.0,43.0,4.0,4.0]|                   495|
| [34.0,6.0,2.0,4.0]|                   402|
|[30.0,19.0,3.0,2.0]|                   326|
|[49.0,26.0,4.0,4.0]|                   151|
| [0.0,11.0,1.0,4.0]|                   342|
|[25.0,42.0,4.0,1.0]|                   467|
| [4.0,34.0,1.0,1.0]|                    68|
| [30.0,1.0,1.0,1.0]|                   367|
|[38.0,29.0,2.0,2.0]|                   361|
|[46.0,30.0,4.0,2.0]|                   347|
|[43.0,40.0,4.0,4.0]|                   302|
| [40.0,4.0,1.0,1.0]|                   347|
| [28.0,1.0,1.0,2.0]|                   440|
|[49.0,20.0,4.0,2.0]|                   394|
|[15.0,36.0,2.0,3.0]|                   439|
+-------------------+----------------------+
only showing top 20 rows

In [33]:
# Initialisation du model de  Regression linéaire
model = LinearRegression(featuresCol='necessary_columns', labelCol='parking_actual_vehicle')

In [34]:
# Train Test Split
train_data, test_data = final_data.randomSplit(weights=[0.7,0.3], seed=42)

In [35]:
# Entrainement du model
model = model.fit(train_data)

In [36]:
# L'intercept représente la valeur de la variable cible lorsque toutes les caractéristiques sont nulles
model.intercept

253.89334033962893

In [55]:
# Evalutation du model sur train_data
pred_train = model.evaluate(train_data)
res = pred_train.predictions
res = res.withColumn("prediction",col("prediction").cast("integer"))
res.show()

+-----------------+----------------------+----------+
|necessary_columns|parking_actual_vehicle|prediction|
+-----------------+----------------------+----------+
|[0.0,1.0,1.0,2.0]|                   179|       249|
|[0.0,1.0,2.0,1.0]|                   215|       249|
|[0.0,1.0,2.0,2.0]|                   444|       247|
|[0.0,1.0,2.0,4.0]|                   343|       244|
|[0.0,1.0,3.0,2.0]|                   199|       246|
|[0.0,1.0,3.0,3.0]|                    93|       245|
|[0.0,1.0,4.0,4.0]|                    80|       242|
|[0.0,1.0,4.0,4.0]|                    95|       242|
|[0.0,1.0,4.0,4.0]|                   396|       242|
|[0.0,2.0,1.0,4.0]|                   384|       245|
|[0.0,2.0,2.0,1.0]|                    79|       249|
|[0.0,2.0,2.0,2.0]|                   202|       247|
|[0.0,2.0,2.0,4.0]|                   278|       244|
|[0.0,2.0,3.0,3.0]|                    62|       244|
|[0.0,2.0,3.0,3.0]|                   323|       244|
|[0.0,2.0,3.0,3.0]|                   437|       244|
|[0.0,2.0,3.0,4.0]|                   167|       243|
|[0.0,2.0,4.0,4.0]|                   195|       242|
|[0.0,3.0,1.0,1.0]|                   384|       250|
|[0.0,3.0,2.0,1.0]|                   307|       249|
+-----------------+----------------------+----------+
only showing top 20 rows

In [57]:
pred = model.evaluate(test_data)
res = pred.predictions
res = res.withColumn("prediction",col("prediction").cast("integer"))
res.show()

+-----------------+----------------------+----------+
|necessary_columns|parking_actual_vehicle|prediction|
+-----------------+----------------------+----------+
|[0.0,1.0,2.0,2.0]|                   147|       247|
|[0.0,1.0,3.0,2.0]|                   300|       246|
|[0.0,1.0,3.0,3.0]|                   100|       245|
|[0.0,1.0,4.0,2.0]|                   134|       245|
|[0.0,2.0,1.0,2.0]|                   248|       249|
|[0.0,2.0,1.0,3.0]|                     6|       247|
|[0.0,2.0,1.0,3.0]|                   339|       247|
|[0.0,2.0,2.0,3.0]|                   372|       246|
|[0.0,2.0,2.0,4.0]|                   436|       244|
|[0.0,2.0,3.0,3.0]|                   109|       244|
|[0.0,2.0,3.0,3.0]|                   161|       244|
|[0.0,2.0,4.0,2.0]|                   333|       245|
|[0.0,2.0,4.0,4.0]|                    13|       242|
|[0.0,2.0,4.0,4.0]|                   156|       242|
|[0.0,2.0,4.0,4.0]|                   451|       242|
|[0.0,3.0,1.0,3.0]|                   228|       247|
|[0.0,3.0,2.0,1.0]|                    87|       249|
|[0.0,3.0,4.0,1.0]|                   277|       247|
|[0.0,3.0,4.0,3.0]|                   203|       243|
|[0.0,3.0,4.0,4.0]|                    75|       241|
+-----------------+----------------------+----------+
only showing top 20 rows

In [74]:
# Sauvegarde du model ml
save_model(model)

Py4JJavaError: An error occurred while calling o1180.save.
: org.apache.spark.SparkException: Could not load requested format parquet for org.apache.spark.ml.regression.LinearRegressionModel (parquet+org.apache.spark.ml.regression.LinearRegressionModel) had List(org.apache.spark.ml.regression.InternalLinearRegressionModelWriter@23affcd9, org.apache.spark.ml.regression.PMMLLinearRegressionModelWriter@34344106, org.apache.spark.ml.clustering.InternalKMeansModelWriter@176486c6, org.apache.spark.ml.clustering.PMMLKMeansModelWriter@2649a2a7)supporting List(internal+org.apache.spark.ml.regression.LinearRegressionModel, pmml+org.apache.spark.ml.regression.LinearRegressionModel, internal+org.apache.spark.ml.clustering.KMeansModel, pmml+org.apache.spark.ml.clustering.KMeansModel)
	at org.apache.spark.ml.util.GeneralMLWriter.saveImpl(ReadWrite.scala:249)
	at org.apache.spark.ml.util.MLWriter.save(ReadWrite.scala:168)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:77)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:568)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:833)
Caused by: java.lang.ClassNotFoundException: parquet
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:445)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:587)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:520)
	at org.apache.spark.ml.util.GeneralMLWriter.$anonfun$saveImpl$3(ReadWrite.scala:242)
	at scala.util.Try$.apply(Try.scala:213)
	at org.apache.spark.ml.util.GeneralMLWriter.saveImpl(ReadWrite.scala:242)
	... 13 more